@import url("https://fonts.googleapis.com/css?family=Merriweather|Raleway|Pacifico|Shadows+Into+Light+Two");
html, body {
  height: 100%;
  background-color: #588754;
  overflow-x: hidden; }
  html #root, body #root {
    height: 100vh;
    background-color: #588754;
    margin-bottom: 25px; }
    html #root .appHeader, body #root .appHeader {
      height: 65px;
      width: 100%;
      background-color: white;
      box-shadow: 0px 1px 10px gray;
      position: relative;
      z-index: 5;
      display: flex; }
      html #root .appHeader .headerTitleContainer, body #root .appHeader .headerTitleContainer {
        width: 80%;
        display: flex;
        align-items: center; }
        html #root .appHeader .headerTitleContainer .headerTitleText, body #root .appHeader .headerTitleContainer .headerTitleText {
          max-width: 100%;
          height: 100%;
          margin-left: 50px; }
        html #root .appHeader .headerTitleContainer .titleTextImg, body #root .appHeader .headerTitleContainer .titleTextImg {
          max-width: 170px;
          height: 45px;
          margin-left: 50px; }
      html #root .appHeader .burgerLogoContainer, body #root .appHeader .burgerLogoContainer {
        width: 20%;
        display: flex;
        align-items: center;
        cursor: pointer; }
        html #root .appHeader .burgerLogoContainer .burgerIcon, body #root .appHeader .burgerLogoContainer .burgerIcon {
          height: 40px;
          width: 40px;
          margin-left: auto;
          margin-right: auto; }
      html #root .appHeader .burgerLogoContainer:hover, body #root .appHeader .burgerLogoContainer:hover {
        background-color: #d4dad4; }
    html #root .searchBarContainer, body #root .searchBarContainer {
      background: -webkit-linear-gradient(#342a07, #403112);
      background: -o-linear-gradient(#342a07, #403112);
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(#342a07, #403112);
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(#342a07, #403112);
      /* Standard syntax */
      padding-top: 10px;
      text-align: center;
      justify-content: center;
      display: none; }
    html #root .jumbotronContainer, body #root .jumbotronContainer {
      display: flex;
      height: 390px;
      background-color: white;
      position: relative;
      z-index: 4;
      border-bottom: 2px solid rgba(0, 0, 0, 0.25); }
      html #root .jumbotronContainer .jumbotronImage, body #root .jumbotronContainer .jumbotronImage {
        width: calc(100vw/3); }
      html #root .jumbotronContainer .jumbotronText, body #root .jumbotronContainer .jumbotronText {
        position: absolute;
        margin-top: 148px;
        height: 160px;
        text-align: center;
        display: flex;
        text-align: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.45);
        width: 100%;
        text-align: center;
        font-size: 5rem;
        justify-content: center;
        font-family: 'Shadows Into Light Two', cursive;
        text-shadow: 1px 2px 2px #75817d; }
    html #root .appMainDiv, body #root .appMainDiv {
      max-width: 1600px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 25px;
      width: 95%;
      background-color: #ffffff;
      box-shadow: -2px 8px 10px rgba(64, 49, 18, 0.61);
      padding: 25px;
      position: relative;
      border-radius: 0px 0px 15px 15px; }
      html #root .appMainDiv .addButtonTitleContainer, body #root .appMainDiv .addButtonTitleContainer {
        width: 100%;
        max-width: 450px;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        align-items: center;
        text-align: center;
        display: flex;
        flex-wrap: wrap; }
        html #root .appMainDiv .addButtonTitleContainer .appTitle, body #root .appMainDiv .addButtonTitleContainer .appTitle {
          text-align: center;
          font-family: 'Pacifico', cursive;
          margin-bottom: 25px;
          width: 70%; }
        html #root .appMainDiv .addButtonTitleContainer .addButtonContainer, body #root .appMainDiv .addButtonTitleContainer .addButtonContainer {
          width: 30%;
          position: relative;
          text-align: center; }
      html #root .appMainDiv .ingredientsListContainer, body #root .appMainDiv .ingredientsListContainer {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center; }
        html #root .appMainDiv .ingredientsListContainer .recipeContainer, body #root .appMainDiv .ingredientsListContainer .recipeContainer {
          width: 30%;
          margin: 15px;
          width: 300px; }
          html #root .appMainDiv .ingredientsListContainer .recipeContainer .recipeHeader, body #root .appMainDiv .ingredientsListContainer .recipeContainer .recipeHeader {
            width: 100%;
            height: 170px;
            background-color: #096367;
            color: #fff;
            box-shadow: 0 1.5px 10px #dce2e0;
            position: relative;
            z-index: 2;
            cursor: pointer;
            border-radius: 15px;
            margin-bottom: 10px;
            background-image: url("./img/pot-min.jpg");
            background-size: cover; }
            html #root .appMainDiv .ingredientsListContainer .recipeContainer .recipeHeader .headerTextContainer, body #root .appMainDiv .ingredientsListContainer .recipeContainer .recipeHeader .headerTextContainer {
              background-color: rgba(58, 46, 13, 0.77);
              position: absolute;
              color: #fffefe;
              width: 100%;
              height: 40px;
              bottom: -12px;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              font-family: Raleway,sans-serif;
              font-weight: 700;
              font-size: 2rem; }
          html #root .appMainDiv .ingredientsListContainer .recipeContainer .recipeWindow, body #root .appMainDiv .ingredientsListContainer .recipeContainer .recipeWindow {
            background-color: #f1fafa;
            margin-bottom: 10px;
            padding: 10px;
            display: None;
            box-shadow: 0 2px 9px #beb0b4; }
            html #root .appMainDiv .ingredientsListContainer .recipeContainer .recipeWindow .ingredientsTitle, body #root .appMainDiv .ingredientsListContainer .recipeContainer .recipeWindow .ingredientsTitle {
              font-family: 'Merriweather', serif;
              font-size: 1.5rem;
              width: 100%;
              text-align: center;
              font-weight: bold;
              letter-spacing: 2px; }
            html #root .appMainDiv .ingredientsListContainer .recipeContainer .recipeWindow .ingredientsContainer, body #root .appMainDiv .ingredientsListContainer .recipeContainer .recipeWindow .ingredientsContainer {
              margin: 10px; }
              html #root .appMainDiv .ingredientsListContainer .recipeContainer .recipeWindow .ingredientsContainer .ingredient, body #root .appMainDiv .ingredientsListContainer .recipeContainer .recipeWindow .ingredientsContainer .ingredient {
                display: block;
                margin: 2px 0;
                border: 0.8px solid #5eebbe;
                border-radius: 2px;
                margin: 15px 0px;
                padding: 5px;
                box-shadow: 0 2px 9px #beb0b4; }
                html #root .appMainDiv .ingredientsListContainer .recipeContainer .recipeWindow .ingredientsContainer .ingredient .ingredientText, body #root .appMainDiv .ingredientsListContainer .recipeContainer .recipeWindow .ingredientsContainer .ingredient .ingredientText {
                  letter-spacing: 1.5px;
                  height: 100%;
                  font-size: 1.5rem;
                  margin: 0;
                  padding: 6px;
                  text-align: center; }
              html #root .appMainDiv .ingredientsListContainer .recipeContainer .recipeWindow .ingredientsContainer .instructionsContainer, body #root .appMainDiv .ingredientsListContainer .recipeContainer .recipeWindow .ingredientsContainer .instructionsContainer {
                border: 1px solid #88eacc;
                box-shadow: -1px 2px 8px #c5b3ba;
                background-color: #50cea6;
                text-align: center;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                word-wrap: break-word; }
                html #root .appMainDiv .ingredientsListContainer .recipeContainer .recipeWindow .ingredientsContainer .instructionsContainer .instructionsText, body #root .appMainDiv .ingredientsListContainer .recipeContainer .recipeWindow .ingredientsContainer .instructionsContainer .instructionsText {
                  margin: 0;
                  padding: 7px;
                  width: 100%; }
      html #root .appMainDiv .socialBarContainer, body #root .appMainDiv .socialBarContainer {
        width: 80%;
        margin: 25px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto; }
        html #root .appMainDiv .socialBarContainer .barSecondContainer, body #root .appMainDiv .socialBarContainer .barSecondContainer {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          max-width: 650px; }
          html #root .appMainDiv .socialBarContainer .barSecondContainer .socialIconContainer, body #root .appMainDiv .socialBarContainer .barSecondContainer .socialIconContainer {
            height: 80px;
            text-align: center;
            margin: 15px; }
            html #root .appMainDiv .socialBarContainer .barSecondContainer .socialIconContainer .socialIconLink, body #root .appMainDiv .socialBarContainer .barSecondContainer .socialIconContainer .socialIconLink {
              cursor: pointer; }
              html #root .appMainDiv .socialBarContainer .barSecondContainer .socialIconContainer .socialIconLink .socialIconImgContainer, body #root .appMainDiv .socialBarContainer .barSecondContainer .socialIconContainer .socialIconLink .socialIconImgContainer {
                height: 100%;
                width: 100%;
                max-width: 80px; }
          html #root .appMainDiv .socialBarContainer .barSecondContainer .small-icon, body #root .appMainDiv .socialBarContainer .barSecondContainer .small-icon {
            width: 100%; }
          html #root .appMainDiv .socialBarContainer .barSecondContainer .medium-icon, body #root .appMainDiv .socialBarContainer .barSecondContainer .medium-icon {
            width: 50%; }
          html #root .appMainDiv .socialBarContainer .barSecondContainer .large-icon, body #root .appMainDiv .socialBarContainer .barSecondContainer .large-icon {
            width: 24%; }
    html #root .footerMainContainer, body #root .footerMainContainer {
      width: 100vw;
      height: 10px;
      background-color: white;
      box-shadow: -3px -1px 20px #403112;
      position: absolute;
      z-index: 50;
      bottom: 0; }

.button {
  margin: 5px;
  height: 40px;
  width: 100%;
  max-width: 90px; }

.btn-link {
  color: white;
  font-size: 1.9rem;
  letter-spacing: 2.5px;
  font-family: 'Shadows Into Light Two', cursive; }

.btn-link:active,
.btn-link:focus,
.btn-link:hover {
  color: white;
  text-decoration: none; }

.btn-link:hover {
  font-size: 1.9rem;
  font-weight: bold; }

.hidden {
  display: None; }

hr {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 3px solid #50cea6; }

.mainHorizontalRule {
  width: 80%; }

.button {
  margin: 5px; }

/*# sourceMappingURL=AppSassTest.css.map */
